@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-open {
  overflow: hidden;
  padding-right: 17px;
}

.modal-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms cubic-bezier(0.07, 0.7, 0.6, 1.18);
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 200ms, transform 200ms;
}
